<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
  if ("{{error}}" != "") {
    Swal.fire({
      position: 'center',
      icon: 'error',
      title: '{{error}}',
      showConfirmButton: false,
      timer: 1500
    })
  }
</script>
<style>
  tr a {
    color: blue !important;
  }
</style>
<div class="row  justify-content-center  ">
  <h2 class=" p-0 m-0 text-center text-dark font-weight-bolder ">Mã khuyến mãi {{Type}}</h2>
</div>
{{!-- <div class="row justify-content-end">
  <form action="/User/Admin/send-voucher" class="form-inline col-12 search pl-5 pt-1 pl-1 m-2 justify-content-between"
    method="GET">
    <input name="search" class="form-control search-text shadow-none col-11" type="search" placeholder=" Search"
      aria-label="Search">
    <button class="btn p-0 " type="submit"><i class="fa fa-search"></i></button>
  </form>
</div> --}}
<div class="container text-center  ">

  <button id="Add" type="button" onclick=Add_new_product_GUI_checkID()
    class="btn text-light bg-primary border-dark my-3 p-2 " style="font-size: 20px; border-radius:100px;">
    Thêm Mã
  </button>
  <div id="add_product" class="d-none container hl2dash p-2">

    <form action="/User/Admin/AddVoucher " class="">
      <div class="row justify-content-around">
        <div class="row ">
          <div class="col d-flex flex-column">
            Mã Khuyến mãi
            <input name="id" type="text" required>
          </div>

          <div class="col d-flex flex-column ">
            Giá trị
            <input name="value" type="number" required>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex flex-column">
            Ngày áp dụng
            <input type="text" name="startDay" class="" onfocus="(this.type='date')" onblur="(this.type='text')"
              required>

          </div>
          <div class="col d-flex flex-column">
            Ngày kết thúc
            <input type="text" name="expireDay" class="" onfocus="(this.type='date')" onblur="(this.type='text')"
              required>
          </div>
        </div>

      </div>
      <div class="row  justify-content-center py-3">
        <button type="submit" class="btn btn-primary bg-primary mr-3">
          Thêm Mã
        </button>
        <button id="Cancel_new_product" class=" btn bg-danger text-light" type="button" onclick=cancel_add_product()>
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  var add_btn = document.getElementById("Add");
  var add_menu = document.getElementById("add_product")
  function Add_new_product_GUI_checkID() {

    add_btn.disabled = true;
    add_btn.classList.add("d-none");
    add_menu.classList.remove("d-none");

  }
  function cancel_add_product() {
    add_btn = document.getElementById("Add");
    add_btn.disabled = false;
    add_btn.classList.remove("d-none");
    add_menu.classList.add("d-none");

  }
</script>
<div class="container-fluid ">
  <table class="table">
    <thead>
      <th scope="col">Mã khuyến mãi</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Chi tiết</th>
    </thead>
    <tbody>
      {{#each voucher}}
      <tr id="{{id}}">
        <td><a onclick=showVoucher("{{id}}","{{startDay}}","{{expireDay}}","{{value}}") href="#">{{id}}</a></td>

        <td>{{status}}</td>
        <td class="option_status">

          <script>
            var index = {{@index}}
            var option_status = document.getElementsByClassName("option_status")
            var voucher_id = "{{id}}"
            voucher_id = voucher_id.split('')
            if (voucher_id[0] == "#") {
              voucher_id.splice(0, 1)
            }
            voucher_id = voucher_id.join('')
            option_status[index].insertAdjacentHTML("beforeend", ` 
            <a href="/User/Admin/send-voucher?id=${voucher_id}" class="btn btn-primary bg-primary text-light">Thêm</a>
            <a href="/User/Admin/deleteVoucher?id=${voucher_id}" class="btn btn-primary bg-danger text-light">Xóa</a>`)
          </script>

        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
<script>
  function showVoucher(id, startDay, expireDay, value) {

    // Money format

    var price = value.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 })

    //Date format

    startDay = startDay.split("-")
    var f_startDay = startDay[2] + '/' + startDay[1] + '/' + startDay[0]


    expireDay = expireDay.split("-")
    var f_expireDay = expireDay[2] + '/' + expireDay[1] + '/' + expireDay[0]
    Swal.fire({

      title: id,
      html: `Giá trị: ${price} VND!<br><br>Ngày áp dụng: ${f_startDay} - ${f_expireDay}`,


    })
  }
</script>