<link rel="stylesheet" href="/CSS/Travel.css">
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
  var total_price = "{{user_pay.total}}"
  total_price = parseInt(total_price)
  discount = 0
  var remain = 0
</script>
<div class="container travel hldash pt-3">
  <ul class="d-inline-flex row ">
    <li class="d-flex align-items-end">
      <a class="mr-2" href="/">Trang chủ</a>
    </li>
    <li class="d-flex align-items-end">
      <a class="mr-2" href="/Cart">Giỏ hàng</a>
    </li>
    <li class="d-flex align-items-end font-weight-bold">
      Thanh toán
    </li>
  </ul>
</div>


<div class="container mt-3 mb-4 pb-5">

  <div class=" justify-content-center">

    <form action="/Cart/GenerateOrder" onsubmit="return check()">
      <div class="row">
        <div class="col-lg-7 mt-3">
          <h3 class="p-2 font-weight-bolder" style="background-color: #f1f1f1;">Thông tin giao dịch</h3>
          <div class="container mt-3 justify-content-center">

            <div class="row hl2dash vl2 bg-secondary justify-content-center">
              <p class=" m-1 text-light font-weight-bold">Địa chỉ</p>
              <button type="button" class="btn btn-secondary bg-secondary" onclick="AddresbtnModify()"><i
                  class="fa fa-edit"></i></button>
              <script>
                var AddresbtnModify = function () {
                  let ArrTemp = ["CName", "CPhone", "CAddress"];
                  for (let i = 0; i < ArrTemp.length; i++) {
                    document.getElementById(ArrTemp[i]).disabled = false;
                  }
                  document.getElementById("AcceptInfo").classList.replace("invisible", "visible");
                }
              </script>
            </div>
            <div class="row vl2 p-0 ">
              <input class="user_input col-6  p-0 m-0 text-center " name="name" type="text" id="CName"
                value="{{user_pay.name}}" disabled="true">
              </input>

              <input class="user_input col-6  p-0 m-0 text-center " name="phone" type="text" id="CPhone"
                value="{{user_pay.phone}}" disabled="true">
              </input>
            </div>
            <div class="row box-dash p-0" style="font-size: 16px;">
              <input class="user_input col  p-0 m-0 text-center" type="text" name="address" id="CAddress"
                value="{{user_pay.address}}" disabled="true">
              </input>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="mt-1 btn bg-primary text-light  text-center invisible" id="AcceptInfo"
                onclick="AddresbtnComplete()">Hoàn tất</button>
              <script>
                var AddresbtnComplete = function () {
                  let ArrTemp = ["CName", "CPhone", "CAddress"];
                  for (let i = 0; i < ArrTemp.length; i++) {
                    document.getElementById(ArrTemp[i]).disabled = true;
                  }
                  document.getElementById("AcceptInfo").classList.replace("visible", "invisible");
                }
              </script>
            </div>

          </div>
          <div class="container">

            <div class="row hl2dash vl2 bg-secondary justify-content-center">
              <p class=" m-1 text-light font-weight-bold">Mã khuyến mãi</p>
              <button type="button" class="btn btn-secondary bg-secondary" onclick="VoucherModify()"><i
                  class="fa fa-edit"></i></button>
              <script>
                var VoucherModify = function () {
                  document.getElementById("CVoucher").disabled = false;

                  document.getElementById("AcceptVoucher").classList.replace("invisible", "visible");
                }
              </script>
            </div>
            <div class="row vl2 p-0 ">
              <div class="col p-0 m-0 text-center font-weight-bolder ">
                <input class="user_input col p-0 m-0 text-center " type="text" id="CVoucher"
                  value="{{user_pay.discount}}" disabled="true">
                </input>
              </div>
            </div>
            <div class="row box-dash p-1 text-center font-weight-bolder text-primary" style="font-size: 16px;">
              <p class="PriceVoucher col p-1 m-0" value=""></p>

            </div>
            <input type="text" name="voucher" value="" id="returnVoucher" class="invisible">
            <div class="row justify-content-center">
              <button type="button" class="mt-1 btn bg-primary text-light  text-center invisible" id="AcceptVoucher"
                onclick="AcceptVoucherBtn()">Hoàn tất</button>
              <script>
                var AcceptVoucherBtn = function () {
                  document.getElementById("CVoucher").disabled = true;
                  if (document.getElementById("CVoucher").value[0] != '#') {
                    document.getElementById("CVoucher").value = '#' + document.getElementById("CVoucher").value
                  }
                  var voucher = document.getElementById("CVoucher").value
                  voucher = voucher.split('')
                  voucher.splice(0, 1)
                  voucher = voucher.join('')

                  fetch(`/Cart/GetVoucher?voucher=${voucher}`).then(response => response.json()).then(data => {

                    if (data[0] != undefined) {

                      if (data[0].status == false) {

                        discount = 0;
                        var remain = total_price + discount;
                        if (remain < 0) {
                          remain = 0
                        }
                        RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
                        TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";

                        PriceVoucher[0].innerHTML = "Voucher hết hạn sử dụng";
                        PriceVoucher[1].innerHTML = "0 VND";
                      }
                      else {

                        PriceVoucher[0].attributes.value.value = data[0].value
                        discount = parseInt(PriceVoucher[0].attributes.value.value)
                        //
                        var remain = total_price + discount;
                        if (remain < 0) {
                          remain = 0
                        }
                        RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
                        TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";

                        PriceVoucher[0].innerHTML = discount.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
                        PriceVoucher[1].innerHTML = PriceVoucher[0].innerHTML;
                      }

                    }
                    else {
                      discount = 0;
                      var remain = total_price + discount;
                      if (remain < 0) {
                        remain = 0
                      }
                      RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
                      TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";

                      PriceVoucher[0].innerHTML = "Voucher không tồn tại";
                      PriceVoucher[1].innerHTML = "0 VND";
                    }
                  })
                  document.getElementById("AcceptVoucher").classList.replace("visible", "invisible");
                }
              </script>
            </div>
          </div>
          <div class="container ">
            <div class="row hl2dash vl2 bg-secondary justify-content-center">
              <p class=" m-1 text-light font-weight-bold">Hình thức vận chuyển</p>
            </div>
            <label class="row my-0 box-dash p-1 text-center font-weight-bolder text-primary justify-content-center"
              style="font-size: 16px;">
              <input class="user_input" type="radio" name="delivery" value="1" required>Giao hàng tiêu chuẩn
              </input>
            </label>
          </div>
          <div class="container mt-4 ">
            <div class="row hl2dash vl2 bg-secondary justify-content-center">
              <p class=" m-1 text-light font-weight-bold">Hình thức thanh toán</p>
            </div>
            <label class="row my-0 box-dash p-1 text-center font-weight-bolder text-primary justify-content-center"
              style="font-size: 16px;">
              <input type="radio" name="Pay" value="1" required>Thanh toán khi nhận hàng </input>
            </label>
            <label class="row my-0 vl2 hldash p-1 text-center font-weight-bolder text-primary justify-content-center"
              style="font-size: 16px;">
              <input type="radio" name="Pay" value="2" required>Thanh toán bằng chuyển
              khoản </input>
            </label>
            <label class="row my-0 vl2 hldash p-1 text-center font-weight-bolder text-primary justify-content-center"
              style="font-size: 16px;">
              <input type="radio" name="Pay" value="3" required>Thanh toán bằng thẻ ngân
              hàng </input>
            </label>
            <label class="row my-0 vl2 hldash p-1 text-center font-weight-bolder text-primary justify-content-center"
              style="font-size: 16px;">
              <input type="radio" name="Pay" value="4" required>Thanh toán bằng ví
              Momoland
              </input>
            </label>

          </div>
        </div>
        <div class="col-lg-5 sticky-top">
          <div id="cart-content" class=" container mt-3 p-0">
            <h3 class="p-2 font-weight-bolder" style="background-color: #f1f1f1;">Giỏ hàng</h3>
            <table class="table mt-3">
              <thead>
                <th scope="col">Tên</th>
                <th scope="col">Hãng</th>
                <th scope="col">Size</th>
                <th scope="col">SL</th>


              </thead>
              <tbody>
                {{#each cart}}
                <tr>
                  <td scope="col">{{name}}</td>
                  <td scope="col">{{brand}}</td>
                  <td scope="col">{{size}}</td>
                  <td scope="col">{{quantity}}</td>

                </tr>
                {{/each}}
              </tbody>
            </table>
            <form action="/Cart">
              <a onclick=returnCart() class="btn col btn-warning bg-primary p-3" style="border-radius: 0px">
                <h3 class="p-0 m-0 font-weight-bold text-light">Thay đổi</h3>
              </a>
            </form>
          </div>
          <div class="container mt-3 ">
            <div class="row hl2dash vl2 bg-secondary justify-content-center">
              <p class=" m-1 text-light font-weight-bold">THANH TOÁN</p>
            </div>
            <div class="row hldash vl2  justify-content-between">
              <p class=" m-1 text-dark font-weight-bold">TỔNG TIỀN</p>
              <p class=" m-1 text-danger font-weight-bold" id="TotalCost"></p>
            </div>
            <div class="row vl2 p-0 hldash  justify-content-between">
              <p class=" m-1 text-dark font-weight-bold">VOUCHER</p>
              <p class="PriceVoucher m-1  font-weight-bold text-primary"></p>
            </div>
            <div class="row vl2 p-0 hldash  justify-content-between">
              <p class=" m-1 text-dark font-weight-bold">THÀNH TIỀN</p>
              <h4 class=" m-1  font-weight-bold text-primary " id="RemainCost"></h4>
            </div>
          </div>
          <div class="container mt-3 justify-content-center">
            <div class="row  justify-content-center">
              <button type="submit" class="btn col btn-warning bg-warning p-3" style="border-radius: 0px">
                <h3 class="p-0 m-0 font-weight-bold">ĐẶT HÀNG</h3>
              </button>
            </div>
          </div>

        </div>
      </div>

    </form>

  </div>



</div>

<script>
  function returnCart() {
    var user_input = document.getElementsByClassName("user_input")
    var discount = user_input[3].value
    discount = discount.split('')
    discount.splice(0, 1)
    discount = discount.join('')

    window.location.href = `/Cart/ChangeCart?name=${user_input[0].value}&phone=${user_input[1].value}&address=${user_input[2].value}&discount=${discount}`
  }

  // init fetch and init money
  var PriceVoucher = document.getElementsByClassName("PriceVoucher")
  var RemainCost = document.getElementById("RemainCost");
  var TotalCost = document.getElementById("TotalCost");
  remain = total_price - discount
  TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
  RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
  var voucher = "{{user_pay.discount}}"
  // init voucher
  if (PriceVoucher[0].attributes.value.value == "") {
    discount = 0;
    PriceVoucher[0].innerHTML = "0 VND";
    PriceVoucher[1].innerHTML = PriceVoucher[0].innerHTML;
  }
  else {
    discount = parseInt(PriceVoucher[0].attributes.value.value)

    PriceVoucher[0].innerHTML = discount.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
    PriceVoucher[1].innerHTML = PriceVoucher[0].innerHTML;
  }
  RemainCost

  // fetch
  voucher = voucher.split('')
  voucher.splice(0, 1)
  voucher = voucher.join('')
  if ("{{user_pay.discount}}" != "") {

    fetch(`/Cart/GetVoucher?voucher=${voucher}`).then(response => response.json()).then(data => {

      if (data[0] != undefined) {

        if (data[0].status == false) {

          discount = 0;
          var remain = total_price + discount;
          if (remain < 0) {
            remain = 0
          }
          RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
          TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";

          PriceVoucher[0].innerHTML = "Voucher hết hạn sử dụng";
          PriceVoucher[1].innerHTML = "0 VND";
        }
        else {

          PriceVoucher[0].attributes.value.value = data[0].value
          discount = parseInt(PriceVoucher[0].attributes.value.value)
          //
          var remain = total_price + discount;
          if (remain < 0) {
            remain = 0
          }
          RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
          TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";

          PriceVoucher[0].innerHTML = discount.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
          PriceVoucher[1].innerHTML = PriceVoucher[0].innerHTML;
        }

      }
      else {
        discount = 0;
        var remain = total_price + discount;
        if (remain < 0) {
          remain = 0
        }
        RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
        TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";

        PriceVoucher[0].innerHTML = "Voucher không tồn tại";
        PriceVoucher[1].innerHTML = "0 VND";
      }
    })
  }
  // submit 
  function check() {
    if (document.getElementById("CName").value == "" || document.getElementById("CAddress").value == "" || document.getElementById("CPhone").value == "") {
      Swal.fire({
        position: 'center',
        icon: 'error',
        title: 'Xin nhập đầy đủ thông tin liên lạc',
        showConfirmButton: false,
        timer: 1500
      })
      return false
    }
    document.getElementById("CName").disabled = false
    document.getElementById("CPhone").disabled = false
    document.getElementById("CAddress").disabled = false
    var discount = document.getElementById("CVoucher").value

    discount = discount.split('')
    discount.splice(0, 1)
    discount = discount.join('')

    document.getElementById("returnVoucher").value = discount
    return true
  }
</script>