<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>

  if ("{{congrats}}" != "") {
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: '{{congrats}}',
      showConfirmButton: false,
      timer: 1500
    })
  }
  //

  function CheckOnclick() {
    var gender = "", price_zone = "", brand = "", category = "", type = ""
    var INPUT = document.getElementsByTagName("input")
    for (let i = 1; i < INPUT.length; i++) {

      if (INPUT[i].checked == true) {
        INPUT[i].parentElement.parentElement.classList.add("checked")
        if (INPUT[i].attributes.name.value == "Gender") {
          if (gender == "") {
            gender += INPUT[i].attributes.value.value
          } else {
            gender += "," + INPUT[i].attributes.value.value
          }
        }
        else if (INPUT[i].attributes.name.value == "Type") {
          if (type == "") {
            type += INPUT[i].attributes.value.value
          } else {
            type += "," + INPUT[i].attributes.value.value
          }
        }
        else if (INPUT[i].attributes.name.value == "Category") {
          if (category == "") {
            category += INPUT[i].attributes.value.value
          } else {
            category += "," + INPUT[i].attributes.value.value
          }
        }
        else if (INPUT[i].attributes.name.value == "Brand") {
          if (brand == "") {
            brand += INPUT[i].attributes.value.value
          } else {
            brand += "," + INPUT[i].attributes.value.value
          }
        }
        else {
          if (price_zone == "") {
            price_zone += INPUT[i].attributes.value.value
          } else {
            price_zone += "," + INPUT[i].attributes.value.value
          }
        }

      }
      else {
        INPUT[i].parentElement.parentElement.classList.remove("checked")
      }
    }
    window.location.href = `/Product?Gender=${gender}&Type=${type}&Category=${category}&Brand=${brand}&Price=${price_zone}`


  }
</script>

<link rel="stylesheet" href="/CSS/Travel.css">
<link rel="stylesheet" href="/CSS/ProductSelect.css">

<div class="container travel hldash pt-3">
  <ul class="d-inline-flex row ">
    <li class="d-flex align-items-end">
      <a class="mr-2" href="/">Trang chủ</a>
    </li>
    <li class="d-flex align-items-end font-weight-bold">
      Sản phẩm
    </li>
  </ul>
</div>
<div class="container">
  <div class="row bg-light" id="NAV_LEFT">
    <div class="ProductSelect col-lg-3 col-sm-12 justify-content-center  box-dash p-2 mb-3" style="border-color:white">
      <div class="bottomline text-center p-0 pb-2 pt-2 ">
        <div id="DT" class="collapse show  font-weight-bold" data-parent="#DT">

          <ul class="list-inline justify-content-center">
            <li class="list-inline-item ">
              <label style="cursor: pointer;"><input type="radio" name="Gender" value="Male,Female"
                  onclick="CheckOnclick()" class="invisible">TẤT
                CẢ</input></label>
            </li>
            <li class="list-inline-item">
              <label style="cursor: pointer;"><input type="radio" name="Gender" value="Male" onclick="CheckOnclick()"
                  class="invisible">NAM</input></label>
            </li>
            <li class="list-inline-item">
              <label style="cursor: pointer;"> <input type="radio" name="Gender" value="Female" onclick="CheckOnclick()"
                  class="invisible">NỮ</a></label>

            </li>
          </ul>

        </div>
      </div>
      <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#Loai">
          <h5 class="font-weight-bold " style="cursor: pointer;">LOẠI</h5>
        </div>
        <div id="Loai" class="collapse show  row font-weight-bold" data-parent="#Loai">
          <ul class=" text-dark card-body listSelect">

            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col">Quần<input name="Type" value="2" class="invisible"
                  type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>
            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col">Áo<input name="Type" value="3" class="invisible"
                  type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>
            <li class="row py-1 px-3 mb-1 justify-content-center ">
              <label style="cursor: pointer;" class="col">Giày<input name="Type" value="1" class="invisible"
                  type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>
          </ul>
        </div>
      </div>
      <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#category">
          <h5 class="font-weight-bold " style="cursor: pointer;">KIỂU</h5>
        </div>
        <div id="category" class="collapse show  row font-weight-bold" data-parent="#category">
          <ul class=" text-dark card-body listSelect">
            {{#each category_nav}}
            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col">{{id}}<input name="Category" value="{{id}}" class="invisible"
                  type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>

            {{/each}}
          </ul>

        </div>
      </div>
      <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#TH">
          <h5 class="font-weight-bold " style="cursor: pointer;">THƯƠNG HIỆU</h5>
        </div>
        <div id="TH" class="collapse show  row font-weight-bold" data-parent="#TH">
          <ul class=" text-dark card-body listSelect">
            {{#each brand_nav}}
            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col">{{id}}<input name="Brand" value="{{id}}" class="invisible"
                  type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>

            {{/each}}
          </ul>

        </div>
      </div>

      <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#Gia">
          <h5 class="font-weight-bold " style="cursor: pointer;">GIÁ TIỀN</h5>
        </div>
        <div id="Gia" class="collapse show  row font-weight-bold" data-parent="#Gia">
          <ul class=" text-dark card-body listSelect">
            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col">
                < 500k <input name="Price" value="0-500" class="invisible" type="checkbox" onclick="CheckOnclick()">
                  </input>
              </label>
            </li>
            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col">500k - 1tr<input name="Price" value="500-1000"
                  class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>
            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col">1tr - 3tr<input name="Price" value="1000-3000"
                  class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>
            <li class="row py-1 px-3 mb-1 justify-content-center">
              <label style="cursor: pointer;" class="col"> > 3tr<input name="Price" value="3000" class="invisible"
                  type="checkbox" onclick="CheckOnclick()"></input></label>
            </li>
          </ul>

        </div>
      </div>

    </div>
    <div class="col-lg-9 col-sm-12">

      <div class="row justify-content-center mt-2 " id="ContentSearch">


        {{#each products}}

        <div class="col-6 col-md-4 col-lg-4 col-xl-4 ITEM ">
          <a href="/Show-product/{{id}}"><img src="/{{main_img}}" alt="" class="img-fluid card-img-top "></a>
          <div class="product_item card-body  text-center  ">
            <div class=" text-center m-0">
              <h5>
                <a class="product_name" href="/Show-product/{{id}}">{{name}}</a>
              </h5>
              <p class="p-0 m-0">{{category}}</p>
            </div>
            <p class="Money_format" class="Price m-0"></p>
            <script>
              //Money fommat----------------------------------------------------- 
              var m_format = document.getElementsByClassName("Money_format")
              var index = {{@index}}
              var price = {{ price }}
              price = price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 })
              m_format[index].innerHTML = price + " VND"
            </script>
            <a href="/Mark/UpdateMark?id={{id}}&returnPath={{../returnPath}}" class="btn"><i
                class="fa fa-heart fa-2x"></i></a>
            <script>
              //check out of stock---------------------------------------------
              var product_item = document.getElementsByClassName('product_item')
              var product_name = document.getElementsByClassName('product_name')
              var product_id = '{{id}}'
              var total_products = 0

            </script>
            {{#each ../size_stock}}
            <script>

              if ("{{ProductId}}" == product_id) {
                total_products += parseInt("{{ stock }}")
              }
            </script>
            {{/each}}
            <script>
              if (total_products == 0) {

                product_name[index].insertAdjacentHTML('beforeend', `<span class="text-danger"> - Hết hàng</span>`)
              }
              else {
                product_item[index].insertAdjacentHTML('beforeend', `<a href="/Cart/UpdateCart?id={{id}}&returnPath={{../returnPath}}&submit=product_submit" class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>`)
              }
            </script>

          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{#each type_display}}
<script>

</script>
{{/each}}
<script>
  type_display = "{{type_display}}"
  type_display = type_display.split(",")
  category_display = "{{category_display}}"
  category_display = category_display.split(",")
  brand_display = "{{brand_display}}"
  brand_display = brand_display.split(",")
  price_display = "{{price_display}}"
  price_display = price_display.split(",")

  var INPUT = document.getElementsByTagName("input")
  var input_start = 1
  if ("{{congrats}}" != "") {
    input_start = 5
  }

  if ("{{gender_display}}" == "All") {
    INPUT[input_start].checked = true
    INPUT[input_start].parentElement.parentElement.classList.add("checked")

  }
  else if ("{{gender_display}}" == "Male") {
    INPUT[input_start + 1].checked = true
    INPUT[input_start + 1].parentElement.parentElement.classList.add("checked")

  }
  else {
    INPUT[input_start + 2].checked = true
    INPUT[input_start + 2].parentElement.parentElement.classList.add("checked")
  }
  for (let i = input_start + 3; i < INPUT.length; i++) {

    if (INPUT[i].getAttribute("name") == "Type") {
      for (let j = 0; j < type_display.length; j++) {

        if (parseInt(INPUT[i].attributes.value.value) == parseInt(type_display[j])) {
          INPUT[i].checked = true
          INPUT[i].parentElement.parentElement.classList.add("checked")
          break
        }
      }
    }
    else if (INPUT[i].getAttribute("name") == "Category") {
      for (let j = 0; j < category_display.length; j++) {


        if (INPUT[i].attributes.value.value == category_display[j]) {
          INPUT[i].checked = true
          INPUT[i].parentElement.parentElement.classList.add("checked")
          break
        }
      }
    }
    else if (INPUT[i].getAttribute("name") == "Brand") {
      for (let j = 0; j < brand_display.length; j++) {
        if (INPUT[i].attributes.value.value == brand_display[j]) {
          INPUT[i].checked = true
          INPUT[i].parentElement.parentElement.classList.add("checked")
          break
        }
      }
    }
    else {
      for (let j = 0; j < price_display.length; j++) {
        if (INPUT[i].attributes.value.value == price_display[j]) {
          INPUT[i].checked = true
          INPUT[i].parentElement.parentElement.classList.add("checked")
          break
        }
      }
    }
  }
  var Check = "{{products}}";
  if (Check.length == 0) {

    document.getElementById("ContentSearch").insertAdjacentHTML("afterbegin", ` <div class=" text-center  justify-content-center align-items-center">
          <i class="fa fa-search mb-3" style="font-size:150px"></i>
          <p class="">Không tìm được sản phẩm phù hợp</p>
        </div>`)
    document.getElementById("ContentSearch").parentNode.classList.add("d-flex")
    document.getElementById("ContentSearch").parentNode.classList.add("align-items-center")
    document.getElementById("ContentSearch").parentNode.classList.add("justify-content-center")
  }

</script>