<script>
 
  function CheckOnclick(){
    var INPUT = document.getElementsByTagName("input")
    for( let i=1; i<INPUT.length;i++ )
    {
      if(INPUT[i].checked == true)
      {
        console.log(INPUT[i].parentElement.parentElement.classList.add("checked"))  
      }else{
          console.log(INPUT[i].parentElement.parentElement.classList.remove("checked"))  
      }
    }
    console.log(INPUT)
  }
</script>
<link rel="stylesheet" href="/CSS/Travel.css">
<link rel="stylesheet" href="/CSS/ProductSelect.css">

<div class="container">
  <div class="row " id="NAV_LEFT">
    <div class="ProductSelect col-lg-3 col-sm-12 justify-content-center  box-dash p-2 mb-3" style="border-color:white">
      <div class="bottomline text-center p-0 pb-2 pt-2 ">
        <div id="DT" class="collapse show  font-weight-bold" data-parent="#DT">
        
            <ul class="list-inline justify-content-center">
              <li class="list-inline-item ">
                <label><input type="radio" name="SEX"  value="All" onclick="CheckOnclick()" class="invisible">TẤT CẢ</input></label>
              </li>
              <li class="list-inline-item">
                <label><input type="radio" name="SEX"  value="Male" onclick="CheckOnclick()" class="invisible">NAM</input></label>
              </li>
              <li class="list-inline-item">
                <label> <input type="radio" name="SEX"  value="Famale" onclick="CheckOnclick()" class="invisible">NỮ</a></label>
               
              </li>
            </ul>
  
        </div>
      </div>
      <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#Loai">
          <h5 class="font-weight-bold " style="cursor: pointer;">LOẠI</h5>
        </div>
        <div id="Loai" class="collapse show  row font-weight-bold" data-parent="#Loai">
            <ul class=" text-dark card-body listSelect">
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Quần<input name ="Loai"  value="pant" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Áo<input name = "Loai"  value="shirt" class="invisible"  type="checkbox" onclick="CheckOnclick()"></input></label>
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center ">
                <label class="col">Giày<input name = "Loai" value="shoe" class="invisible"  type="checkbox" onclick="CheckOnclick()" ></input></label>
              </li>
            </ul>
        </div>
      </div>
         <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#category">
          <h5 class="font-weight-bold " style="cursor: pointer;">KIỂU</h5>
        </div>
        <div id="category" class="collapse show  row font-weight-bold" data-parent="#category">
            <ul class=" text-dark card-body listSelect">
              <li class="row py-1 px-3 mb-1  justify-content-center">
               <label class="col">Tất Cả<input name ="Kieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
               <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Hút đi<input name ="Kieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
                 <label class="col">Hai tốp<input name ="Kieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
               <label class="col">Bốt<input name ="Kieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
            </ul>

        </div>
      </div>
       <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#Trangthai">
          <h5 class="font-weight-bold " style="cursor: pointer;">TRẠNG THÁI</h5>
        </div>
        <div id="Trangthai" class="collapse show  row font-weight-bold" data-parent="#Trangthai">
            <ul class=" text-dark card-body listSelect">
            <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Tất cả<input name ="TrangThai"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Best sell<input name ="TrangThai"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Sale off<input name ="TrangThai"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
            </ul>

        </div>
      </div>
       <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#Gia">
          <h5 class="font-weight-bold " style="cursor: pointer;">GIÁ TIỀN</h5>
        </div>
        <div id="Gia" class="collapse show  row font-weight-bold" data-parent="#Gia">
            <ul class=" text-dark card-body listSelect">
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Tất cả<input name ="Gia"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Under 500k<input name ="Gia"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">500k - 1M<input name ="Gia"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
               <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">1M-3M<input name ="Gia"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
            </ul>

        </div>
      </div>
      <div class="bottomline text-dark text-center p-2">
        <div class="row justify-content-center text-center" data-toggle="collapse" href="#TH">
          <h5 class="font-weight-bold " style="cursor: pointer;">THƯƠNG HIỆU</h5>
        </div>
        <div id="TH" class="collapse show  row font-weight-bold" data-parent="#TH">
            <ul class=" text-dark card-body listSelect">
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Tất cả<input name ="ThuongHieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
               <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Adidas<input name ="ThuongHieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
              <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Nike<input name ="ThuongHieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
             <li class="row py-1 px-3 mb-1 justify-content-center">
                <label class="col">Punmma<input name ="ThuongHieu"  value="All" class="invisible" type="checkbox" onclick="CheckOnclick()"></input></label> 
              </li>
            </ul>

        </div>
      </div>
    </div>
    <div class="col-lg-9 col-sm-12  ">
      <div class="row justify-content-center mt-2">
        {{#each products}}

        <div class="col-6 col-md-4 col-lg-4 col-xl-4 ITEM  " style="border-radius: 10px;">
          <a href="/Show-product/{{id}}"><img src="/{{main_img}}" alt="" class="img-fluid card-img-top"></a>
          <div class="card-body ITEM text-center  ">
            <div class=" text-center m-0">
              <h5><a href="/Show-product/{{id}}">{{name}}</a></h5>
              <p class="p-0 m-0">{{category}}</p>
            </div>
           
            <p id ="Money_format"class="Price m-0"></p>
             <script>
              var m_format = document.getElementById("Money_format")
              var price = {{price}}
              price = price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 })
              m_format.innerHTML = price +" VND"
            </script>
            <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
            <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>