<link rel="stylesheet" href="/CSS/Travel.css">
<link rel="stylesheet" href="/CSS/Review.css">
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<div class="container travel hldash pt-3">
    <ul class="d-inline-flex row ">
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/">Trang chủ</a>
        </li>

        <li class="d-flex align-items-end">
            <a class="mr-2" href="/User/check-order">Đơn mua</a>
        </li>
        <li class="d-flex align-items-end font-weight-bold">
            {{order.id}}
        </li>
    </ul>
</div>


<div class="container mt-3 mb-4 pb-5">
    <div class="row container-fluid ">
        <h4 class="order_status col-4 text-center py-2 text-light">TIẾP NHẬN ĐƠN HÀNG</h4>
        <h4 class="order_status col-4 text-center py-2 text-light">VẬN CHUYỂN</h4>
        <h4 class="order_status col-4 text-center py-2 text-light">ĐÃ GIAO</h4>
    </div>
    <div class=" justify-content-center mt">
<script>
    var order_status = document.getElementsByClassName("order_status")
   
    if ("{{order.status}}" == "Check"){
        order_status[0].classList.add("bg-success")
        order_status[1].classList.add("bg-secondary")
        order_status[2].classList.add("bg-secondary")
    }
    else if ("{{order.status}}" == "Shipping"){
        order_status[0].classList.add("bg-secondary")
        order_status[1].classList.add("bg-success")
        order_status[2].classList.add("bg-secondary")
    }
    else{
        order_status[0].classList.add("bg-secondary")
        order_status[1].classList.add("bg-secondary")
        order_status[2].classList.add("bg-success")
    }
</script>

        <div class="row">
            <div class="col-lg-7 mt-3">
                <h3 class="p-2 font-weight-bolder" style="background-color: #f1f1f1;">Thông tin giao dịch</h3>
                <div class="container mt-4">

                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Mã đơn hàng</p>

                    </div>

                    <div class="row box-dash p-1 text-center font-weight-bolder text-primary" style="font-size: 16px;">
                        <p style="font-size: 35px" class="col p-1 m-0">{{order.id}} </p>
                    </div>
                </div>
                <div class="container mt-3 justify-content-center">

                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Địa chỉ</p>

                    </div>
                    <div class="row vl2 p-0 ">
                        <input class="col-6  p-0 m-0 text-center  " type="text" id="CName" value="{{order.name}}"
                            disabled="true">
                        </input>

                        <input class="col-6  p-0 m-0 text-center " type="text" id="CPhone" value="{{order.phone}}"
                            disabled="true">
                        </input>
                    </div>
                    <div class="row box-dash p-0" style="font-size: 16px;">
                        <input class="col    p-0 m-0 text-center" type="text" id="CAddress" value="{{order.address}}"
                            disabled="true">
                        </input>
                    </div>


                </div>

                <div class="container mt-4">
                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Hình thức vận chuyển</p>
                    </div>
                    <label id="delivery"
                        class="row my-0 box-dash p-1 text-center font-weight-bolder text-primary justify-content-center"
                        style="font-size: 16px;">

                    </label>
                </div>
                <div class="container mt-4 ">
                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Hình thức thanh toán</p>
                    </div>
                    <label id="pay"
                        class="row my-0 box-dash p-1 text-center font-weight-bolder text-primary justify-content-center"
                        style="font-size: 16px;">

                    </label>
                </div>

            </div>

            <div class="col-lg-5 mt-3">
                <h3 class="p-2 font-weight-bolder" style="background-color: #f1f1f1;">Giá Tiền</h3>
                <div class="container mt-3 ">

                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">THANH TOÁN</p>
                    </div>
                    <div class="row hldash vl2  justify-content-between">
                        <p class=" m-1 text-dark font-weight-bold">TỔNG TIỀN</p>
                        <p class=" m-1 text-danger font-weight-bold" id="TotalCost"></p>
                    </div>
                    <div class="row vl2 p-0 hldash  justify-content-between">
                        <p class=" m-1 text-dark font-weight-bold">VOUCHER</p>
                        <p class=" m-1  font-weight-bold text-primary" id="PriceVoucher"></p>
                    </div>
                    <div class="row vl2 p-0 hldash  justify-content-between">
                        <p class=" m-1 text-dark font-weight-bold">THÀNH TIỀN</p>
                        <h4 class=" m-1  font-weight-bold text-primary " id="RemainCost"></h4>
                    </div>
                </div>
                <div class="container mt-3 justify-content-center">
                    <div class="row  justify-content-center">

                        <button onclick ="deleteOrder()"class="btn col btn-warning bg-warning p-3"
                            style="border-radius: 0px">
                            <h3 class="p-0 m-0 font-weight-bold">Hủy đơn hàng</h3>
                        </button>

                    </div>
                </div>
                <div class="container mt-3 justify-content-center">
                    <div class="row  justify-content-center">

                        <a href="#cart-content" class="btn col btn-warning bg-warning p-3" style="border-radius: 0px">
                            <h3 class="p-0 m-0 font-weight-bold">Đánh giá đơn hàng</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var PriceVoucher = document.getElementById("PriceVoucher")
            var RemainCost = document.getElementById("RemainCost");
            var TotalCost = document.getElementById("TotalCost");
            var delivery = document.getElementById("delivery")
            var pay = document.getElementById("pay")
            var discount = parseInt("{{order.discountPrice}}")
            var total_price = parseInt("{{order.totalPrice}}")


            if ("{{order.delivery}}" == "1") {
                delivery.innerHTML = "Giao hàng tiêu chuẩn"
            }
            if ("{{order.pay}}" == "1") {
                pay.innerHTML = "Thanh toán khi nhận hàng"
            }
            else if ("{{order.pay}}" == "2") {
                pay.innerHTML = "Thanh toán bằng chuyển khoản"
            }
            else if ("{{order.pay}}" == "3") {
                pay.innerHTML = "Thanh toán bằng thẻ ngân hàng"
            }
            else {
                pay.innerHTML = "Thanh toán bằng ví Momoland"
            }
            remain = total_price - discount
            PriceVoucher.innerHTML = discount.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
            TotalCost.innerHTML = total_price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
            RemainCost.innerHTML = remain.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 }) + " VND";
        </script>
    </div>

    <h3 class="p-2 font-weight-bolder text-center mt-3" style="background-color: #f1f1f1;">Danh sách sản phẩm</h3>

    <table if ="cart-content" class="table mt-3 container">
        <thead>
            <th scope="col">Sẩn phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Size</th>
            <th scope="col">Đánh giá</th>



        </thead>
        <tbody>
            {{#each product}}
            <tr>
                <td scope="col">{{name}}</td>
                <td scope="col">{{quantity}}</td>
                <th scope="col">{{size}}</th>
                {{#if ../usercheck}}
                <td scope="col">
                    <a href="/User/review?id={{id}}&user=true&order={{../order.id}}" class="btn btn-primary bg-primary">
                        Đánh giá
                    </a>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>


    <script>
        function deleteOrder() {
            Swal.fire({
                title: 'Bạn có chắn chắn muốn xóa đơn hàng này không?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Tiếp tục',
                cancelButtonText: 'Hủy'

            }).then((result) => {
                if (result.isConfirmed) {

                    window.location.href = `/User/DeleteOrder?order={{order.id}}&user=user`
                }
            })
        
        }
        
    </script>


</div>