<link rel="stylesheet" href="/CSS/Travel.css">
<link rel="stylesheet" href="/CSS/Review.css">
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>


<div class="container travel hldash pt-3">
    <ul class="d-inline-flex row ">
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/">Trang chủ</a>
        </li>
        {{#if check}}
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/User/check-order">Đơn mua</a>
        </li>
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/User/Show-order/{{order}}">{{order}}</a>
        </li>
        {{else}}
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/Check-order">Kiểm tra đơn hàng</a>
        </li>
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/Check-order/{{order}}">{{order}}</a>
        </li>
        {{/if}}
        <li class="d-flex align-items-end font-weight-bold">
            {{product.id}}
        </li>
    </ul>
</div>
<h1 class="text-center font-weight-bolder mb-5">Nhận xét của bạn</h1>
<div class="container">
    {{#if check}}
    <form action="/User/submit/{{order}}/true" onsubmit="return check()">
        {{else}}
        <form action="/User/submit/{{order}}/false" onsubmit="return check()">
            {{/if}}
            <div class="row">
                <div class="col-6">
                    <div class="row container d-flex flex-column">
                        <h3 class="BottomLine font-weight-bold">
                            Đánh giá sản phấm
                        </h3>
                        <div class="d-flex justify-content-center my-3" style="font-size: 30px;">
                            <label class="ReviewStar">
                                1<i class="fa fa-star" aria-hidden="true"></i>
                                <input type="radio" name="star" value="1" class="1star" required>
                                </input>
                            </label>
                            <label class="ReviewStar pl-1">
                                2<i class="fa fa-star" aria-hidden="true"></i>
                                <input type="radio" name="star" value="2" class="2star" required>
                                </input>
                            </label>
                            <label class="ReviewStar pl-1">
                                3<i class="fa fa-star" aria-hidden="true"></i>
                                <input type="radio" name="star" value="3" class="3star" required>
                                </input>
                            </label>
                            <label class="ReviewStar pl-1">
                                4<i class="fa fa-star" aria-hidden="true"></i>
                                <input type="radio" name="star" value="4" class="4star" required>
                                </input>
                            </label>
                            <label class="ReviewStar pl-1">
                                5<i class="fa fa-star" aria-hidden="true"></i>
                                <input type="radio" name="star" value="5" class="5star" required>
                                </input>
                            </label>
                        </div>
                    </div>

                    <div class="row container d-flex flex-column">

                        <h3 class="BottomLine font-weight-bold">Đánh giá sản phẩm</h3>
                        <div class="justify-content-center my-3">
                            <textarea class="col" name="comment" id="" rows="10" required></textarea>
                        </div>


                    </div>
                </div>
                <div class="col ">

                    <div class="row d-flex flex-column align-items-center">
                        <img src="/{{product.main_img}}" alt="" width="200px" height="200px">
                        <div class="d-flex justify-content-center my-3" style="font-size: 30px;">
                            <label class="ReviewStar">
                                <i class="fa fa-star" aria-hidden="true"></i>

                            </label>
                            <label class="ReviewStar pl-1">
                                <i class="fa fa-star" aria-hidden="true"></i>

                            </label>
                            <label class="ReviewStar pl-1">
                                <i class="fa fa-star" aria-hidden="true"></i>

                            </label>
                            <label class="ReviewStar pl-1">
                                <i class="fa fa-star" aria-hidden="true"></i>

                            </label>
                            <label class="ReviewStar pl-1">
                                <i class="fa fa-star" aria-hidden="true"></i>

                            </label>
                        </div>
                    </div>
                    <div class="row my-3">
                        <h3>ID : <input id="getId" type="text" name="id" value="{{product.id}}" disabled> </p>
                        </h3>
                        <h3>TÊN SẢN PHẨM : {{product.name}} </p>
                        </h3>
                    </div>
                    <div class="row">
                        <p>Hãng: {{product.brand}}
                        <p>
                    </div>
                    <div class="row">
                        <p>Mô tả: {{product.info}}
                        <p>
                    </div>
                    {{#if size_check}}
                    <div class="row d-flex justify-content-center my-1">
                        <a href="/Cart/UpdateCart?id={{product.id}}&returnPath={{returnPath}}&submit=product_submit"
                            class="btn btn-primary bg-primary">Mua tiếp liền</a>
                    </div>
                    {{/if}}


                </div>
            </div>
            <div class="row justify-content-center my-5">
                <button type="submit" class="btn btn-primary bg-primary">
                    <h3>Gửi nhận xét</h3>
                </button>
            </div>
        </form>

</div>
<script>
    function check() {
       
           
    
        document.getElementById("getId").disabled = false
        return true
    }
</script>