<style>
  tr a {
    color: blue !important;
  }
</style>
<div class="row  justify-content-center  ">
  <h2 class=" p-0 m-0 text-center text-dark font-weight-bolder ">Mã Của Bạn {{Type}}</h2>
</div>
<div class="container-fluid ">
  <table class="table">
    <thead>
      <th scope="col">Mã khuyến mãi</th>
      <th scope="col">Giá Trị</th>
      <th scope="col">Ngày áp dụng</th>
      <th scope="col">Ngày kết thúc</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Trạng thái</th>

    </thead>
    <tbody>
      {{#each voucher}}
      <tr id="{{id}}">
        <td><a href="#">{{id}}</a></td>
        <td class="Money_format"></td>
        <td class="Day"></td>
        <td class="Day"></td>
        <td>{{number}}</td>
        <td>{{status}}</td>
      </tr>
      <script>
        var m_format = document.getElementsByClassName("Money_format")
        var GetStatus = document.getElementsByClassName("GetStatus")
        var day = document.getElementsByClassName("Day")
        var index = {{@index}}
        var price = {{ value }}
        // Money format
        price = price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 })
        m_format[index].innerHTML = price + " VND"
        //Date format
        var temp = "{{startDay}}"
        temp = temp.split("-")
        day[index * 2].innerHTML = temp[2] + '/' + temp[1] + '/' + temp[0]
        temp = "{{expireDay}}"
        temp = temp.split("-")
        day[index * 2 + 1].innerHTML = temp[2] + '/' + temp[1] + '/' + temp[0]      
      </script>
      {{/each}}
    </tbody>
  </table>
</div>